* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #6d0994;
  --secondary-color: #1fa612;
}
body {
  background-color: #fffdd0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}

header {
  padding: 10px 20px 10px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 48px;
  font-weight: bold;
  /*color: var(--primary-color);*/
  background-color: var(--secondary-color);
  margin: 5px 10px 5px 0;
  padding: 15px;
  border-radius: 5px;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: calc(18px + 1.55vw);
  text-shadow: 0 0 5px;
  color: var(--secondary-color);
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
}

.banner img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

main {
  display: flex;
  flex-direction: column;
}
section {
  padding: 40px;
  display: flex;
}

.flex-row {
  display: flex;
}

.section-title {
  font-size: 36px;
  border-right: 4px solid;
  padding-right: 20px;
  text-align: center;
  margin: 0 35px auto, 0;
  flex-basis: 300px;
}

.about-text {
  flex: 4 80%;
}

.about-text p {
  line-height: 1.5;
  font-size: 22px;
  margin: 20px;
}

.projects {
  flex: 4 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  background-color: var(--primary-color);
  flex: 1;
  margin: 10px;
  border: 20px solid var(--primary-color);
  position: relative;
  height: 400px;
  min-height: 100px;
  min-width: 150px;
}

.project article {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#plugged-in {
  background-image: url("../images/charging.jpeg");
}

#run-buddy {
  background-image: url("../images/hero-bg.jpg");
}

#horiseon {
  background-image: url("../images/web-metrics.jpg");
}

#blackjack {
  background-image: url("../images/blackjack-deal.jpg");
}

.project-label {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: absolute;
  bottom: 15px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 22px;
  text-shadow: 2px 2px black;
  border-radius: 0 7px 7px 0;
}

.project-label h3 {
  font-size: 20px;
}

.projects a:first-child {
  flex-basis: 100%;
}

.contact-me article {
  display: flex;
  border: 5px solid;
  padding: 20px;
  flex: 4 80%;
}

.project:hover {
  opacity: 0.8;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.contact-details p,
.contact-details a {
  font-size: 30px;
  color: var(--secondary-color);
  text-shadow: 2px 2px black;
  text-decoration: underline;
  margin: 20px;
  padding: 15px 20px;
  text-align: center;
  flex: 1;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
}

.contact-details a:hover {
  color: white;
  background-color: var(--secondary-color);
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  body {
    width: 100%;
  }

  header h1 {
    width: 100%;
  }

  header nav ul {
    width: 100%;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .flex-row {
    flex-direction: column;
  }

  .section-title {
    font-size: 36px;
    border-right: none;
    border-bottom: 4px solid;
    padding-bottom: 20px;
    text-align: center;
    flex-basis: 100px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .project {
    flex-basis: 100%;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .contact-details p {
    flex-basis: 100%;
  }
}
